# Data in Motion Weekly Data Analysis Challenge
## Week 15: Formating Percentages

Challenge Questions:

1.    Format the values in column 'random' of df as percentages.

Input:
df = pd.DataFrame(np.random.random(4), columns=['random'])

df

#>      random

#> 0    .689723

#> 1    .957224

#> 2    .159157

#> 3    .21082

**Desired Results:**

#>      random

#> 0    68.97%

#> 1    95.72%

#> 2    15.91%

#> 3    2.10%

In [1]:
# import libraries

import pandas as pd
import numpy as np

In [2]:
# create dataframe
df = pd.DataFrame(np.random.random(4), columns=['random'])
df

     random
0  0.011751
1  0.763999
2  0.945728
3  0.955169

In [3]:
df.dtypes

random    float64
dtype: object

In [4]:
# format random column as percent%
df['random'] = df['random'].map('{:.2%}'.format)
df

   random
0   1.18%
1  76.40%
2  94.57%
3  95.52%